body {
  font-family: "Montserrat", sans-serif;
  font-size: 25;
  color: white;
  margin: 0;
  padding: 0;
  background: url(../assets/background-color.svg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
}

/*               Main App             */
.content {
  width: 99.5%;
  height: 670px;
  /* border: 1px dashed red; */
  /* margin: 1px; */
  position: relative;
  margin: 0;
  padding: 0;
}

.logo {
  width: 110px;
  height: 90px;
  position: absolute;
  top: -15px;
  right: 10px;

  z-index: 20;
}

.map {
  /* margin: 0;
  padding: 0;
  margin-left: 15%;
  margin-top: -5px;
  width: 1100px;
  height: 670px;

  position: absolute;
  top: 0;
  right: 40px;
  z-index: 5; */

  height: 670px;
  /* width: 100%;
  height: auto; */
  position: absolute;
  top: -4px;
  right: -7px;
  /* z-index: 5; */


  /* background: ma);
  background-position: contain;
  background-repeat: no-repeat; */
}

/* .box {
  margin: 0;
  padding: 0;
  background: #edf0f4;
  width: 90px;
  height: 291px;
  position: absolute;
  top: 0px;
  right: -7px;
  z-index: 0;
} */

.search-box {
  position: absolute;
  width: 260px;
  height: 40px;
  background: #25474b;
  margin-top: 30px;
  margin-left: 10px;
  z-index: 4;
  /* opacity: 0.4; */
}

.search {
  position: absolute;
  font-size: 16px;
  font-weight: 500;

  margin-left: 55px;
  margin-top: 9px;
  margin-right: 0;
  padding-bottom: 2px;
  border-bottom: 0.5px solid white;
  width: 150px;
}

.search-icon {
  position: absolute;
  width: 25px;
  height: 25px;
  margin-left: 225px;
  margin-top: 7px;
  /* margin-left: 220px;
  margin-top: -150px; */
}

.burger {
  position: absolute;
  width: 25px;
  height: 24px;
  left: 15px;
  top: 8px;
  /* margin-top: -5px;
  margin-left: -3px; */
  z-index: 8;
}

/* 
.sidenav {
  overflow: hidden;
  background-color: #333;
  position: relative;
} */

#sidenav {
  position: absolute;
  overflow: hidden;
  background-color: #25474b;
  width: 200px;
  margin-left: 10px;
  margin-top: 30px;
  color: white;
  height: 40px;
}

#sidenav #myLinks {
  display: none;
}

#myLinks {
  margin-top: 60px;
  height: 400px;
  background-color: #25474b;
}

#sidenav a {
  color: white;


  padding-bottom: 2px;
  margin-bottom: 20px;
  margin-left: 20px;

  text-decoration: none;
  font-size: 17px;
  display: block;

  width: 60px;

}

/* .sidenav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
} */

.button {
  position: absolute;
  margin-left: 200px;
  margin-top: 200px;
}

.info-btn {
  width: 100px;
  height: 100px;
}

.side-active {

  border-bottom: 2px solid #ffd400;

  /* margin-left: 50px; */

}

.active {

  border-bottom: 2px solid #ffd400;

  width: 60px;
  font-weight: 600;
  /* margin-left: 40px; */
}

.yellow-button {
  width: 200px;
  height: 200px;
}

#info-box {
  width: 250px;
  height: 400px;
  background: #25474b;
  position: absolute;
  right: 10px;
  margin-top: 80px;

  box-shadow: 2px 3px 15px #000000;

  padding: 6px;

  opacity: 1;
  display: none;

  z-index: 10;
}

.info-train {
  width: 100px;
  height: 100px;
  display: block;
  margin: auto;
}

.info-title {
  font-size: 20px;
  font-weight: 500;
  /* border-bottom: 1px solid white; */
  padding-bottom: 2px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: -10px;
}

.info-table {
  border-collapse: collapse;
  width: 30px;
  margin-top: 4px;
}

th,
td,
.info {
  padding-top: 4px;
  padding-right: 5px;
  border: none;
  /* border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd; */
  font-size: 13px;
  font-weight: 400;
  text-align: left;
}

th.line {
  padding-bottom: 4px;

  border-bottom: 1px solid #ddd;
}

td.info {
  text-align: center;
  padding-bottom: 6px;
}

.bottom-box {
  position: absolute;
  background: #25474b;

  height: 62px;
  width: 800px;

  margin-left: 42%;
  margin-top: 43%;

  padding-left: 20px;
  padding-top: 5px;

  box-shadow: 2px 3px 15px #000000;
}

.first-table {
  border-collapse: collapse;
  width: 30px;
  margin-top: 4px;
}

th,
td {
  padding-top: 4px;
  padding-right: 5px;

  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;
  font-weight: 600;
  text-align: left;
}

.no-bottom {
  border-bottom: none;
}

.no-left {
  border-left: none;
}

.padL {
  padding-left: 15px;
}

.table-title {
  font-size: 14px;
  font-weight: 500;
}

.blue-train {
  width: 70px;
  height: 50px;
  float: left;
  padding-top: 5px;
  padding-right: 20px;
}

.yellow-train {
  width: 70px;
  height: 50px;
  float: left;
  padding-top: 5px;
  padding-right: 20px;
  margin-left: 180px;
  margin-top: -52px;
}

.red-train {
  width: 70px;
  height: 50px;
  float: left;
  padding-top: 5px;
  padding-right: 20px;
  margin-left: 180px;
  margin-top: -52px;
}

.second-table {
  float: left;
  margin-left: 0px;
  margin-top: -48px;
  border-collapse: collapse;
}

.third-table {
  float: left;
  margin-left: 630px;
  margin-top: -52px;
  border-collapse: collapse;
}

/*               Splash Page             */

.splash-content {}

.transparent-box {
  margin: 0;
  padding: 0;
  background: rgb(159, 195, 202);
  width: 45px;
  height: 296px;
  position: absolute;
  top: 0px;
  right: -7px;
  z-index: 10;
}

.svg-map {
  height: 670px;
  /* width: 100%;
  height: auto; */
  position: absolute;
  top: -4px;
  right: 0px;
  z-index: 5;


  /* background: ma);
  background-position: contain;
  background-repeat: no-repeat; */
}


.nav-bar {
  position: absolute;
  right: 0;
  float: right;
  margin-top: -15px;
}

.nav-ul {
  display: inline-block;

}

.nav-list {
  color: white;

  text-decoration: none;
  font-size: 17px;
  display: inline-block;
  padding-top: 10px;
  padding-right: 30px;

}

.nav-bar,
a {
  color: white;
  text-decoration: none;
  padding-bottom: 3px;

}


.welcome-div {
  position: absolute;
  /* border: red solid 2px; */
  width: 400px;
  height: 250px;
  margin-top: 10%;
  margin-left: 10%;
}

.welcome-logo {
  width: 350px;
  height: 350px;



  margin: 0;
  padding: 0;

  margin-top: -225px;
  margin-left: 180px;
  position: absolute;
}

.welcome {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 1px;
}

.under-text {
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 500;

  margin-top: 10px;
  margin-left: 5px;
}

#start {
  display: inline-block;
  border: 2px #FFD400 solid;
  border-radius: 5em / 5em;
  height: 25px;
  width: 90px;

  padding-top: 5px;


  font-size: 17px;
  font-weight: 500;
  letter-spacing: 1px;

  margin-left: 220px;
  margin-top: 10px;

  text-decoration: none;
  background: none;
  color: #ffffff;

  line-height: 1;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

/*                    About Page                 */

#about-con {
  background: url(../assets/about-background.svg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  height: 100vh;


}

#context {
  position: absolute;
  margin-left: 10%;
  margin-top: 100px;

  width: 600px;
  height: 470px;

  padding-right: 30px;

  border-right: 3px solid #FFD400;


}

#about-logo {
  position: relative;
  width: 200px;

  margin: 10px;
  margin-bottom: -10px;
}

.first {
  border-bottom: 3px solid #FFD400;
  padding-bottom: 50px;
  padding-right: 150px;
  width: 575px;
  line-height: 23px;

}

.second {
  margin-top: 50px;
  /* padding-right: 60px; */
  width: 570px;
  line-height: 23px;
}



.social-con {
  position: absolute;
  left: 30px;
  bottom: 15px;
}

.social-icon {
  width: 25px;
  height: 25px;
  padding-right: 7px;
}

/*                 Contact Page                */

#contact-con {
  background: url(../assets/contact-background.svg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;




  padding: 0;
  height: 100vh;

}

#contact-logo {
  position: absolute;
  width: 140px;
  margin-left: 30px;
  margin-top: 10px;
}


#contact-context {
  position: absolute;
  width: 600px;
  height: 400px;
  /* border: 2px solid red; */
  margin-left: 15%;
  margin-top: 110px;


}

#left {
  width: 40%;
  float: left;
  border-right: 3px solid #FFD400;

}

#right {
  width: 59%;
  float: right;




}

.contact-headers {
  font-size: 19px;
  padding-bottom: 10px;
  border-bottom: 3px solid #FFD400;
}

label {
  font-size: 15px;
}

input[type=text],
select,
textarea {
  font-size: 15px;
  background: #8EA0A2;
  width: 90%;
  padding: 5px;
  color: white;
  border: 1px solid #8EA0A2;

  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

#message {
  height: 100px;
  padding: 2px;
  text-align: left;
}

input[type=submit] {
  position: absolute;
  background-color: #4CAF50;
  color: white;
  width: 70px;
  height: 35px;
  padding: 0px;

  border: none;

  margin-top: 120px;
  margin-left: -70px;

  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.contact-social {
  display: inline-block;
  margin-top: 20px;

}

.contact-icon {
  display: block;
  padding-bottom: 30px;
}

.twitter.contact-icon {

  padding-bottom: 30px;
}

.social-headers {
  position: absolute;
  font-size: 20px;
  margin-top: -55px;
  margin-left: 40px;
}

.twitHeader {
  margin-top: -55px;
}